In [1]:
var1 = "saket"
var1

'saket'

In [2]:
type(var1)

str

In [3]:
var1=1
var1

1

In [4]:
type(var1)

int

In [5]:
var1=None
var1

In [6]:
type(var1)

NoneType

In [8]:
speed_limit = 65
my_speed = 70

under_speed_limit = my_speed < speed_limit # True
under_speed_limit

False

In [10]:
is_it_warm = True
is_it_cold = False
is_it_foggy = False

result = is_it_warm or is_it_cold or is_it_foggy # True
result

True

In [14]:
is_it_warm = True
is_it_cold = True
is_it_foggy = False

result = is_it_warm and is_it_cold or is_it_foggy # True
result

True

In [15]:
temp = 43
is_it_raining = True

if is_it_raining and temp < 65:
    print('wear a jacket and bring an umbrella!')

wear a jacket and bring an umbrella!

In [16]:
temp = 43

if temp < 30:
    print('wear a heavy jacket')
elif temp < 50:
    print('wear a light jacket')
elif temp < 60:
    print('wear a sweater')
else:
    print('you do not need any layers!')

wear a light jacket

In [17]:
temp = 43

if temp < 30:
    print('wear a heavy jacket')
elif temp < 60:
    print('wear a sweater')
elif temp < 50:
    print('wear a light jacket')
else:
    print('you do not need any layers!')

wear a sweater

In [18]:
temp = 43

if temp < 30:
    print('wear a heavy jacket')
elif temp < 60 and temp>50:
    print('wear a sweater')
elif temp < 50:
    print('wear a light jacket')
else:
    print('you do not need any layers!')

wear a light jacket

In [20]:
var1 = "saket"
var1 = var1.upper()
var1

'SAKET'

In [21]:
var1 = var1.lower()
var1

'saket'

In [23]:
var1=''
var1

''

In [24]:
type(var1)

str

In [25]:
if var1=='':
    print("empty")

empty

In [26]:
colors = ['red', 'yellow', 'green'] #strings
grades = [100, 99, 65, 54, 19] #numbers
bools = [True, False, True, True] #booleans

In [29]:
bools

[True, False, True, True]

In [30]:
empty_list = list()

In [31]:
empty_list

[]

In [32]:
emp_list = []

In [33]:
empty_list

[]

In [36]:
colors[0]

'red'

In [38]:
colors[-1]

'green'

In [39]:
colors[-2]

'yellow'

In [40]:
colors[-1]==colors[2]

True

In [41]:
big_list = ['string' + str(i) for i in range(100)]

In [42]:
big_list

['string0',
 'string1',
 'string2',
 'string3',
 'string4',
 'string5',
 'string6',
 'string7',
 'string8',
 'string9',
 'string10',
 'string11',
 'string12',
 'string13',
 'string14',
 'string15',
 'string16',
 'string17',
 'string18',
 'string19',
 'string20',
 'string21',
 'string22',
 'string23',
 'string24',
 'string25',
 'string26',
 'string27',
 'string28',
 'string29',
 'string30',
 'string31',
 'string32',
 'string33',
 'string34',
 'string35',
 'string36',
 'string37',
 'string38',
 'string39',
 'string40',
 'string41',
 'string42',
 'string43',
 'string44',
 'string45',
 'string46',
 'string47',
 'string48',
 'string49',
 'string50',
 'string51',
 'string52',
 'string53',
 'string54',
 'string55',
 'string56',
 'string57',
 'string58',
 'string59',
 'string60',
 'string61',
 'string62',
 'string63',
 'string64',
 'string65',
 'string66',
 'string67',
 'string68',
 'string69',
 'string70',
 'string71',
 'string72',
 'string73',
 'string74',
 'string75',
 'string76',
 'string77',
 'string78',
 'string79',
 'string80',
 'string81',
 'string82',
 'string83',
 'string84',
 'string85',
 'string86',
 'string87',
 'string88',
 'string89',
 'string90',
 'string91',
 'string92',
 'string93',
 'string94',
 'string95',
 'string96',
 'string97',
 'string98',
 'string99']

In [43]:
big_list[50:]

['string50',
 'string51',
 'string52',
 'string53',
 'string54',
 'string55',
 'string56',
 'string57',
 'string58',
 'string59',
 'string60',
 'string61',
 'string62',
 'string63',
 'string64',
 'string65',
 'string66',
 'string67',
 'string68',
 'string69',
 'string70',
 'string71',
 'string72',
 'string73',
 'string74',
 'string75',
 'string76',
 'string77',
 'string78',
 'string79',
 'string80',
 'string81',
 'string82',
 'string83',
 'string84',
 'string85',
 'string86',
 'string87',
 'string88',
 'string89',
 'string90',
 'string91',
 'string92',
 'string93',
 'string94',
 'string95',
 'string96',
 'string97',
 'string98',
 'string99']

In [44]:
big_list[50:80]

['string50',
 'string51',
 'string52',
 'string53',
 'string54',
 'string55',
 'string56',
 'string57',
 'string58',
 'string59',
 'string60',
 'string61',
 'string62',
 'string63',
 'string64',
 'string65',
 'string66',
 'string67',
 'string68',
 'string69',
 'string70',
 'string71',
 'string72',
 'string73',
 'string74',
 'string75',
 'string76',
 'string77',
 'string78',
 'string79']

In [45]:
# passing direct argument
x = ['a', 'b', 'c', 'd']
x.append(['e', 'f', 'g'])
print(x) # ['a', 'b', 'c', 'd', ['e', 'f', 'g']]

['a', 'b', 'c', 'd', ['e', 'f', 'g']]

In [47]:
# passing direct argument
x = ['a', 'b', 'c', 'd']
y = ['e', 'f', 'g']
for i in y:
    x.append(i)
x

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [48]:
x = ['a', 'b', 'c', 'd']
x.extend(['e', 'f', 'g'])
x

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [49]:
my_class = ['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha', 'Sonyl']
my_class.insert(1, 'Sanju')
my_class

['Brandi', 'Sanju', 'Zoe', 'Steve', 'Aleksander', 'Dasha', 'Sonyl']

In [50]:
letters = ['j', 'u', 'l', 'i', 'a', 'n', 'n', 'a']
name = ''.join(letters)
print(name) # 'julianna'

words = ['this', 'is', 'fun']
sentence = ' '.join(words)
print(f'{sentence}.') # 'this is fun.'

julianna
this is fun.

In [51]:
words = ['this', 'is', 'fun']
sentence = ' saket '.join(words)
print(f'{sentence}.') # 'this is fun.'

this saket is saket fun.

In [52]:
x = 'this is fun'
sentence = x.split() # note - using default split char at space
print(sentence) # ['this', 'is', 'fun']

y = 'Sandra,hi@email.com,646-212-1234,8 Cherry Lane,Splitsville,FL,58028'
data = y.split(',')
print(data) # ['Sandra', 'hi@email.com', '646-212-1234', '8 Cherry Lane', 'Splitsville', 'FL', '58028']

['this', 'is', 'fun']
['Sandra', 'hi@email.com', '646-212-1234', '8 Cherry Lane', 'Splitsville', 'FL', '58028']

In [53]:
emails = ['saket@gmail.com','siva@gmail.com','abc@yahoo.com']
emails

['saket@gmail.com', 'siva@gmail.com', 'abc@yahoo.com']

In [55]:
for i in emails:
    name_list = i.split('@')
    print(name_list[0])

saket
siva
abc

In [56]:
my_class = ['Brandi', 'Zoe', 'Steve', 'Aleksander', 'Dasha']
student_that_left = my_class.pop(2) # Remember to count from 0!
print("The student", student_that_left, "has left the class.")
# => "Steve"
print(my_class)
# => ['Brandi', 'Zoe', 'Aleksander', 'Dasha']

The student Steve has left the class.
['Brandi', 'Zoe', 'Aleksander', 'Dasha']

In [57]:
len(my_class)

4

In [58]:
#list: [] --mutable
#tuples: () --immutable
#set: no dups
#dictionary: key value pair

In [59]:
list = ['saket','saket','siva','pooja']

In [60]:
list.append('blabla')

In [61]:
list

['saket', 'saket', 'siva', 'pooja', 'blabla']

In [62]:
list.pop(-1)

'blabla'

In [63]:
list

['saket', 'saket', 'siva', 'pooja']

In [64]:
tuple1 = tuple(list)

In [66]:
tuple1

('saket', 'saket', 'siva', 'pooja')

In [68]:
set1 = set(list)

In [69]:
set1

{'pooja', 'saket', 'siva'}

In [72]:
back_to_list = [set1]

In [73]:
back_to_list

[{'pooja', 'saket', 'siva'}]

In [81]:
back_to_list.append((1,2,3))

In [82]:
back_to_list

[{'pooja', 'saket', 'siva'}, (1, 2, 3)]

In [83]:
df = [{'col1':1,'col2':'saket'},{'col1':2,'col2':'siva'}]

In [84]:
df

[{'col1': 1, 'col2': 'saket'}, {'col1': 2, 'col2': 'siva'}]

In [85]:
import pandas as pd

In [86]:
newdf = pd.DataFrame(df)

In [87]:
newdf

   col1   col2
0     1  saket
1     2   siva

In [88]:
names = ['Taq', 'Zola', 'Valerie', 'Valerie']
scores = [[98, 89, 92, 94], [86, 45, 98, 100], [100, 100, 100, 100], [76, 79, 80, 82]]

grades = dict(zip(names,scores))
print(grades) # {'Taq': [98, 89, 92, 94], 'Zola': [86, 45, 98, 100], 'Valerie': [76, 79, 80, 82]}

{'Taq': [98, 89, 92, 94], 'Zola': [86, 45, 98, 100], 'Valerie': [76, 79, 80, 82]}

In [89]:
grades['Taq']

[98, 89, 92, 94]

In [92]:
grades.keys() # ['Taq', 'Francesca', 'Walter', 'Caleb']

grades.values() # [['teacup pig','cat','cat'], ['dog','rabbit','parakeet'], etc ]

grades.items() # [('Taq', ['teacup pig','cat','cat']), ('Francesca', [['llama','horse','dog']), etc]

dict_items([('Taq', [98, 89, 92, 94]), ('Zola', [86, 45, 98, 100]), ('Valerie', [76, 79, 80, 82])])

In [93]:
grades.keys()

dict_keys(['Taq', 'Zola', 'Valerie'])

In [94]:
grades.values()

dict_values([[98, 89, 92, 94], [86, 45, 98, 100], [76, 79, 80, 82]])

In [95]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    if len(a) < 3:
        break
    print(a.pop())
print('Done.')

corge
qux
baz
Done.

In [96]:
a

['foo', 'bar']

In [97]:
transaction = {
  "amount": 10.00,
  "payee": "Joe Bloggs",
  "account": 1234
}

for key, value in transaction.items():
    print("{}: {}".format(key, value))

amount: 10.0
payee: Joe Bloggs
account: 1234

In [98]:
def num_squared(num):
    """Find the square of some number passed in"""
    square = num*num # code to find the square
    return square

In [99]:
num_squared(10)

100

In [102]:
def sum_of_listvals(xlist):
    x=0
    for i in xlist:
        x=x+1
    return x


list1 = [1,2,3,4,5,6]
list2 = [1,2,3,4,5,6,3,8,8955]
list3 = [1,2,3,4,5,6,65882,4377]
list4 = [1,2,3,4,5,6,45232,9,4,7]

sum_of_listvals(list3)

8